
.cart-item-rows {
    margin-top: 2% !important;
    font-size: 1.5rem;
    font-weight: bold;
}

img.cart-item-image {
    width: 200px;
    height: auto;
}

div.cart-item-row p {
    display: inline;
    margin: 40px;
}

div.cart-item-row button {
    font-weight: bold;
}

div.cart-item-row:nth-child(even) {
    background-color: #f2f2f2;
}

div.cart-items-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

div.cart-items-footer button.order-btn {
    margin-left: 5%;
    font-size: 1.4rem;
    font-weight: bold;
}